@import "tailwindcss";

/* html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: fixed;
  top: 0;
  left: 0;
} */

.outer-container {
  @apply "rounded-2xl backdrop-blur-md" border border-white/15 bg-black/30 p-3 shadow-lg;
}
